.root {
    border: 1px solid var(--dark-background-color);
    text-align: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.content {
    padding: 1em;
    height: 400px;}

.footer {
    padding: 1em;
    background-color: var(--dark-background-color);
    margin-top: auto;
    max-height: 80px;
    height: 100%;
}